*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body{
    background: #F5FFFA;
}

a{
    text-decoration: none;
    color: black;
}

.navbar{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a img{
    width: 70px;
    margin-left: 50px;
}

.navbar-center ul{
    margin-right: 150px;
}

.navbar-center ul li{
    list-style: none;
    display: inline-block;
}

.navbar-center ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding-right: 5px;
    margin: 5px 20px;
    position: relative;
}

.navbar-center ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #7360DF;
    position: absolute;
    bottom: -6px;
    transition: width 0.3s;
}

/* .navbar-center ul li a.active-link::after */

.navbar-center ul li a:hover::after{
    width: 100%;
}

/* <------------------------navbar-ends-----------------------> */

.container{
    display: flex;
    align-items: center; 
    margin: 100px 50px;
}

.info h1{
    margin-left: 20px;
}

.name{
    font-size: 5rem;
    font-weight: 900;
    margin: 40px 20px;
}

.desc{
    font-size: 2.5rem;
    margin: 20px 20px 30px ;
    color: #7360DF;
    font-weight: 600;
}

.profile img{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin-left: 50%;
}

.btn1{
    background: #F5FFFA ;
    border: 3px solid #7360DF;
    color: #7360DF;
    font-size: 1rem;
    width: 150px;
    height: 50px;
    margin-left: 20px;
    transition: background-color 0.3s ease-in-out , color 0.3s ease-in-out;
}

.btn1:hover{
    background: #7360DF;
    color: #F5FFFA;
    cursor: pointer;
    transition-delay: 0.2s;
}

.bio{
    margin: 0px 20px 30px;
    font-size: 1.2rem;
    line-height: 1.5em;
}


/* -- ABOUT */
.container2{
    display: flex;
    align-items: center; 
    margin: 60px 50px;
}

#heading {
    border-bottom: 2px solid black;
    margin-bottom: 50px;
    font-size: 8rem;
    width: 90vw;
}

.info2 h1{
    margin-left: 20px;
}

.mainArea {
    display: flex;
}

.left {
    margin-left: 20px;
    flex: 1;
}

.left {
    margin-right: 50px; 
}

.right {
    flex: 1;
    margin-left: 50px;
}

.left p {
    font-size: 1.5rem;
    line-height: 1.1;
    font-weight: lighter;
    text-align: justify;
    color: rgb(60, 60, 60);
}

.line {
    border-left: 2px solid #7360DF;
}

.right p{
    font-size: 1.5rem;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 10px;
}

.right ul {
    list-style: none; /* Remove default bullet points */
}

.right ul li:before {
    content: "\2022"; 
    color: #7360DF; 
    font-size: 2rem; /* Make the bullet point bigger */
    line-height: inherit;
    display: inline-block;
    width: 1em; 
}

.right li{
    font-size: 1.3rem;
    color: rgb(60, 60, 60);
}

/* -------------------skills------------------- */

.mainAreaSkills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid black;
    padding: 40px;
    margin: 60px;
}

.imageContainer {
    display: flex;
    align-items: center; 
    align-self: center; 
    justify-content: center; 
    flex-direction: column;
    width: calc(25% - 10px);
    height: 100px;
    margin: 30px 0 ;
    box-sizing: border-box;
    margin-bottom: 70px;
}

.imageContainer img {
    height: 90%;
    margin-bottom: 20px;
}

.imageContainer span {
    display: block;
    text-align: center;
    font-size: 1.5rem;
}

/* -----------------mainAreaConnect------------------------ */

.mainAreaConnect p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 25%;
    font-size: 1.5rem;
    text-align: center;
}

.connectButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.connectButtons #mailButton {
    margin-right: 60px;
}

